#RecentPost{
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
    .PostImg{
        width: 80px;
        height: 100%;
    }

    .PostText{
        width: 100px;
        height: 100%;
        font-size: 18px;
    }
}