#Strutur {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    &>div {
        width: 86%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;


        .LeftBar{
            width: 70%;
            height: auto;
        }

        .RightBar{
            width: 30%;
            height: auto;
        }
    }
}