#ques {
    width: 100%;
    height: auto;
    margin-bottom: 1px solid rgb(51, 51, 51);
    overflow: hidden;

    .asdd{
    }

    .on_esas {
        overflow: hidden;
        
        .saul {
            color: black;
            font-size: 33px;
        }
    }

    .panel {
        margin-top: 20px;
        
        .panel_left {

            .answerr {
                margin-top: 10px;
                font-size: 18px;
                color: rgb(41, 39, 39);
            }
        }
    }

}