.CarCards {
    width: 100%;
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &>div {
        width: 88%;
        height: 100%;

        .CatalogName {
            width: 100%;
            height: 210px;
            margin-top: 100px;

            &>h1 {
                font-size: 55px;
                color: black;
            }

            &>h3 {
                color: #bfa37c;
                letter-spacing: 2px;
                font-size: 20px;
            }
        }

        #HomeAbout {
            width: 100%;
            height: 80vh;
            background-color: rgb(255, 255, 255);
            display: flex;

            @import url("https://fonts.googleapis.com/css?family=Muli:400,700&display=swap");


            h1 {
                text-align: left;
                margin: 1.5em;
                color: white;
                font-size: 50px;
            }

            .container {
                width: 100%;
                overflow: hidden;
                position: relative;
                height: 600px;
            }

            .items {
                height: 100%;
                display: flex;
                align-items: center;
                width: fit-content;
                animation: carouselAnim 9s infinite alternate linear;
            }


            @media only screen and (max-width: 768px) {
                .items {
                    animation: carouselAnim 350s infinite alternate linear;
                }

                @keyframes carouselAnim {
                    from {
                        transform: translate(0, 0);
                    }

                    to {
                        transform: translate(calc(-100% + (2 * 300px)));
                    }
                }
            }

            .entry p {
                text-align: center;
                padding: 1em;
            }

            .name {
                font-weight: bold;
            }

            @keyframes carouselAnim {
                from {
                    transform: translate(0, 0);
                }

                to {
                    transform: translate(calc(-100% + (5 * 300px)));
                }
            }

            .container .faders {
                width: 100%;
                position: absolute;
                height: 100%;
            }

            .faders .right,
            .faders .left {
                background: linear-gradient(to right,
                        rgba(255, 255, 255, 0) 100%,
                        rgb(100, 100, 100) 0%);
                width: 15%;
                height: 100%;
                position: absolute;
                z-index: 200;
            }

            .right {
                right: 0;
                background: linear-gradient(to left,
                        rgba(245, 245, 245, 1) 0%,
                        rgba(255, 255, 255, 0) 100%);
            }

        }

    }
}


.Safety {
    width: 100%;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &>div {
        width: 50%;
        height: 100%;

        &>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .left {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f7f5f2;

        &>div {
            width: 70%;
            height: 70%;

            &>h1 {
                margin-top: 20px;
                color: black;
                font-size: 50px;
            }

            &>h3 {
                margin-top: 10px;
                color: #bfa37c;
                letter-spacing: 3px;
                font-size: 20px;
            }

            &>p {
                margin-top: 30px;
                font-size: 18px;
                color: black;
            }

            &>button {
                margin-top: 30px;
                padding: 10px 24px;
                border: 1px solid #bfa37c;
                text-align: center;
            }
        }
    }
}


#Accordions {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    &>div {
        width: 88%;
        height: auto;

        .Questions {
            width: 100%;
            height: 230px;
            margin-bottom: 1px solid rgb(161, 160, 160);

            &>div {
                margin-top: 110px;

                &>h1 {
                    color: black;
                    font-size: 50px;
                }

                &>h3 {
                    margin-top: 10px;
                    color: #bfa37c;
                    letter-spacing: 3px;
                    font-size: 20px;
                }
            }
        }

        .ByQuestions {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            &>p {
                width: 24%;
            }

            &>div {
                overflow: hidden;
                width: auto;

            }
        }
    }
}


.ThreeImg {
    width: 100%;
    height: 67vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &>div {
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;

        &>img {
            transform: perspective(1500px) rotateY(15deg);
            border-radius: 1rem;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
            transition: transform 1s ease 0s;

            &:hover {
                transform: perspective(3000px) rotateY(5deg);
            }
        }

        .oneImg {
            width: 50%;
            height: 100%;
        }

        .TwoImg {
            width: 24%;
            height: 100%;
        }

        .TrhreImg {
            width: 24%;
            height: 100%;
        }
    }
}

.PC {
    margin-top: 100px;
    width: auto;
    height: auto;
}

.DisplayNavbar {
    display: none;
}


@media (min-width: 770px) and (max-width: 1000px) {

    .ReponsiveNav {
        display: none;
    }

    .DisplayNavbar {
        width: 100%;
        height: 80px;
        background-color: rgb(0, 0, 0) !important;
        display: block;
        position: fixed;
        z-index: 999;
    }

    .CarCards {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &>div {
            width: 96%;
            height: auto;

            .CatalogName {
                height: auto;
                &>h1{
                    font-family: 'Times New Roman', Times, serif;
                }
            }
        }
    }

    .left {
        height: auto !important;
      
    }


    .ThreeImg {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        &>div {
            width: 96%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;


        }
    }
}



@media (min-width: 320px) and (max-width: 700px) {

    .CarCards {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &>div {
            width: 96%;
            height: auto;

            .CatalogName {
                height: auto;

                &>h1 {
                    font-size: 44px;
                }
            }

            .HomeAbout {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &>div {
                    width: 96%;
                    height: auto;
                }
            }
        }
    }


    #feaderss {
        display: none !important;
    }

    #itemRes {
        width: 100% !important;
        display: block !important;
        height: auto;
    }

    .Safety {
        width: 100%;
        display: block;
        height: auto;

        &>div {
            width: 100%;

            &>img {
                width: 100%;

            }
        }

        .left {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;

            &>div {
                width: 94%;
                height: auto;
            }
        }
    }

    #Accordions {
        display: none;
    }

    .ThreeImg {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        &>div {
            width: 96%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &>img{
                margin-top: 30px;
                width: 400px !important;
                height: 300px;
            }
        }
    }
}

#FontFamliyChange{
    font-family: 'Times New Roman', Times, serif;
}