.NotFound{
    position: relative;
    width: 100%;
    height: 100vh;



    .NotFound_image{
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;

        &>img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }


        .NotFound_Text{
            position: absolute;
            bottom: 48%;
            left: 60%;
           
            &>h1{
                font-size: 250px;
                font-weight: bold;
                font-family: 'Times New Roman', Times, serif;
                color: white;
            }

            &>h2{
                font-size: 25px;
                font-weight: bold;
                font-family: 'Times New Roman', Times, serif;
                color: white;
            }
        }
    }
}