.SearchCar {
    margin-top: 80px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

    &>div {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .SearchResult {
            margin-top: 20px;
            width: 100%;
            height: 150px;
            margin-right: auto;
            display: flex;

            &>h1 {
                width: 76%;
                height: 100%;
            }

            &>h3 {
                width: 24%;
                height: 100%;
                font-size: 20px;
            }
        }

        .NewSearch {
            width: 100%;
            height: 200px;

            &>h1 {
                font-family: 'Times New Roman', Times, serif;
                font-size: 40px;
            }

            &>p {
                margin-top: 10px;
            }

            &>div {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;

                &>input {
                    width: 95%;
                    height: 60px;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                }

                .buttonSearcCar {
                    width: 5%;

                    &>svg {
                        width: 100%;
                        font-size: 30px;
                    }
                }



            }
        }


        .FilterResultCars {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 100px;
        }
    }
}

.NotFindACar {
    margin-top: 30px;
    width: 80%;
    height: auto;

    &>img {
        width: 100%;
        height: 280px;
    }
}