#Premiumcarssss {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141A1C;

    &>div {
        width: 100%;
        height: 82%;
        display: flex;
        justify-content: center;
        align-items: center;

        .PremiumcarsImg {
            width: 54%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            align-items: center;
            overflow: hidden;

            &>img {
                width: 50%;
                height: 100%;
            }

            .PremiumcarsImgOne {
                transform:
                    perspective(750px) translate3d(0px, 0px, -250px) rotateX(27deg) scale(0.9, 0.9);
                border-radius: 20px;
                border: 5px solid #e6e6e6;
                box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
                transition: 0.4s ease-in-out transform;

                &:hover {
                    transform: translate3d(0px, 0px, -250px);
                }
            }

            .PremiumcarsImgTwo {
                transform:
                    perspective(750px) translate3d(0px, 0px, -250px) rotateX(27deg) scale(0.9, 0.9);
                border-radius: 20px;
                border: 5px solid #e6e6e6;
                box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
                transition: 0.4s ease-in-out transform;

                &:hover {
                    transform: translate3d(0px, 0px, -250px);
                }
            }
        }

        .PremiumcarsText {
            width: 46%;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &>div {
                width: 80%;
                height: 60%;

                &>h1 {
                    font-size: 35px;
                    color: white;
                    font-weight: 500;
                }

                &>h3 {
                    margin-top: 10px;
                    color: #bfa37c;
                    letter-spacing: 2px;
                    font-size: 18px;
                }

                &>p {
                    margin-top: 40px;
                    font-size: 20px;
                    color: gray;
                }

                &>div {
                    width: 100%;
                    height: auto;
                    color: white;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin-top: 30px;

                    &>div {
                        width: 45%;
                        height: auto;
                        font-weight: 600;

                        &>span {
                            font-size: 70px;
                            display: flex;

                            &>span {
                                margin-top: -20px;
                                margin-left: 5px;
                            }

                            &>b {
                                margin-top: 17px;
                                font-size: 60px;
                                margin-left: 5px;
                            }
                        }

                        &>p {
                            color: gray;
                            font-size: 19px;
                        }
                    }
                }
            }
        }
    }
}


// @media (min-width: 770px) and (max-width: 900px) {

//     #Premiumcarssss {
//         width: 100%;
//         height: 100vh;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         background-color: #141A1C;

//         &>div {
//             width: 100%;
//             height: 82%;
//             display: flex;
//             justify-content: center;
//             align-items: center;

//             .PremiumcarsImg{
//                 width: 560px;
//             }

//             .PremiumcarsText{
//                 height: auto;
//                 &>div{

//                     #responsive{
//                         display: none;
//                     }
//                 }   
//             }
//         }
//     }

// }