.basket {
    margin-top: 70px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;

    &>div {
        width: 88%;
        height: auto;
        background-color: cadetblue;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .Productss {
            padding: 30px 0;
            width: 65%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;

            &>div {
                width: 99%;
                height: 99%;
                background-color: cornsilk;

                
            }
        }

        .paypal {
            position:static;
            margin-top: 0;
            width: 31%;
            height: 700px;
            font-size: 40px;
            background-color: chocolate;
        }
    }
}