.basket {
    margin-top: 70px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);

    &>div {
        width: 88%;
        height: auto;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-around;
        flex-direction: column;

        .Productss {
            padding: 30px 30px;
            width: 95%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .TableStructur{
                width: 99%;
                height: 50px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                overflow: hidden;

                &>span{
                    margin-left: 90px;
                    padding: 10px 10px;
                    padding-top: 30px;
                    font-size: 29px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                }
            }

            &>div {
                width: 99%;
                height: 99%;
                background-color: rgb(236, 236, 236);

                
            }
        }

        .paypal {
            margin-top: 0;
            width: 31%;
            height: 700px;
            font-size: 40px;
            background-color: chocolate;
        }
    }
}