#Destinations {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

    &>div {
        width: 88%;
        height: 100%;

        .Basliq {
            width: 100%;
            height: 30%;
            border-bottom: 1px solid rgb(154, 154, 154);
            flex-wrap: wrap;
            flex-direction: column;
            align-content: flex-end;

            &>p {
                height: 120px;
            }

            &>h1 {
                font-size: 34px;
                color: white;
            }

            &>h3 {
                font-size: 18px;
                color: #bfa37c;
            }
        }

        .DestinationsCardIn {
            width: 100%;
            height: 70%;
            grid-column: 20px;
            grid-row: 20px;
            display: flex;
            justify-content: space-between;
            overflow: hidden;

            .bossss {
                width: 8%;
            }

            .griddd {
                margin-right: -120px;
                width: 92%;
                display: grid;
                grid-template-columns: auto auto auto;
            }

            .gridddD {
                margin-right: -120px;
                width: 92%;
                display: grid;
                grid-template-columns: auto auto;
            }
        }
    }
}



#DestinationsCard {
    margin-top: 20px;
    width: 380px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    &>div {
        width: 95%;
        height: 100%;
        overflow: hidden;

        &>h3 {
            font-size: 24px;
            font-weight: 699;
            color: white;
        }

        &>p {
            margin-top: 10px;
            color: gray;
            font-size: 18px;
        }
    }
}





@media (min-width: 770px) and (max-width: 900px) {

    #Destinations {
        width: 800px;
        height: auto;


        &>div {
            width: 88%;
            height: 100%;

            .Basliq {
                width: 100%;
                height: 30%;
                border-bottom: 1px solid rgb(154, 154, 154);
                flex-wrap: wrap;
                flex-direction: column;
                align-content: flex-end;
            }

            .DestinationsCardIn{

            }
        }
    }

    .DestinationsCardIn {
        width: 100%;
        height: 70%;
        grid-column: 20px;
        grid-row: 20px;
        

        .bossss{
            width: 1%;
        }

        .griddd {
            width: 100%;
            display: grid;
            grid-template-columns: auto auto;
            word-wrap: break-word;
            overflow: hidden;
        }

        .gridddD {
            margin-left: -130px !important;
            width: 100%;
            display: grid; 
            grid-template-columns: auto auto;
            word-wrap: break-word;
            overflow: hidden;
        }
    }


    #DestinationsCard{
        width: 280px;
    }
}