#Ac {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: auto;
    border-top: 1px solid rgb(155, 155, 155);
    display: flex;
    justify-content: start;
    align-items: center;

    .saul {
        font-size: 30px;
        color: black;
        height: auto;
        font-weight: 500;
    }

    .answerr {
        font-size: 23px;
    }
}