.CarCatagorieE {
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;

    &>p {
        width: 24%;
        height: 100%;
    }

    &>div {
        width: 76%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .Car {
            position: relative;
            display: inline-block;
            overflow: hidden;
            color: white;

            &>img {
                width: 300px;
                height: 100%;
                margin-right: 80px;
            }

            &>div {
                position: absolute;
                display: flex;
                flex-direction: column;
                z-index: 99;
                bottom: 0;
                left: 0;
                width: auto;
                margin-left: 200px;
                margin-bottom: 13px;

                &>h1 {
                    color: white;
                    font-size: 30px;
                    font-weight: 500;
                }

                &>span {
                    color: rgb(183, 177, 177);

                    &>span {
                        color: #bfa37c;
                        font-size: 23px;
                        margin-left: 10px;

                        &>b {
                            font-size: 55px;
                            color: #bfa37c;
                        }
                    }
                }
            }
        }

        .Car2 {
            width: auto;
            height: 100%;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &>p {
                margin-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: rgb(183, 177, 177);

                &>span {
                    margin-right: 10px;
                }
            }
        }

        .Car3 {

            &>button {
                padding: 20px 40px;
                border: 1px solid #bfa37c;
                color: white;
            }
        }
    }
}




@media (min-width: 770px) and (max-width: 900px) {

    .CarCatagorieE {
        width: 90%;
        height: 240px;

        #resNul {
            display: none;
        }

        &>div {
            width: 100%;
            margin-left: 40px;

            .Car{
                width: 290px;

                #namRes{
                    display: none;
                }
            }

            .Car2{
                width: 200px;
            }

            .Car3{
                width: 190px;
                font-size: 15px;
                height: auto;

                &>button{

                }
            }
        }

    }
}