#ByTrip {
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-self: center;

    .ByTrip_Text {
        width: 55%;
        height: 100%;
        display: flex;
        justify-content: center;

        &>div {
            width: 94%;
            height: 100%;

            .ByTrip_Text_Main {
                width: 100%;
                height: 30%;
                border-bottom: 1px solid rgb(81, 194, 255);

                .ByTrip_Text_Main_1 {
                    width: 100%;
                    height: 70px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .ByTrip_Text_Main_1_Bt2 {
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &>button {
                            text-align: center;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-right: 6px;
                            border: 1px solid whitesmoke;

                            &>svg {
                                margin-right: 7px;
                            }
                        }
                    }
                }

                .ByTrip_Text_Main_2 {
                    width: 100%;
                    height: 110px;
                    display: flex;
                    justify-content: start;
                    align-items: center;

                    .ByTrip_Text_Main_2_img {
                        width: 100px;
                        height: 100px;
                        border-radius: 10px;
                        margin-left: 40px;

                        &>img {
                            width: 100%;
                            height: 100%;
                            border-radius: 10px;
                        }
                    }

                    .ByTrip_Text_Main_2_text {
                        width: auto;
                        height: auto;
                        margin-left: 27px;
                        color: rgba(255, 255, 255, 0.873);

                        &>h1 {
                            font-size: 30px;
                            color: rgba(255, 255, 255, 0.936);
                        }

                        &>h2 {
                            color: rgba(255, 255, 255, 0.744);
                        }
                    }
                }

                .ByTrip_Text_Main_3 {
                    width: 100%;
                    height: 70px;

                    &>h2 {
                        margin-left: 40px;
                        margin-top: 8px;
                        font-size: 21px;

                    }
                }
            }

            .ByTrip_Text_hed {
                width: 100%;
                height: 66%;

                .ByTrip_Text_hed_main {
                    margin-top: 30px;
                    width: 100%;
                    height: 15%;

                    &>h1 {
                        color: rgba(255, 255, 255, 0.864);
                        font-size: 28px;
                    }

                    &>h3 {
                        margin-top: 5px;
                    }
                }

                .ByTrip_Text_hed_nots {
                    width: 100%;
                    height: 85%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    overflow-y: scroll !important;
                    /* Scroll çubuğunu göster */
                    scrollbar-width: 40px;
                    /* Scrollbar genişliği */
                    scrollbar-color: transparent transparent;
                    /* Scrollbar rengi */

                    .AddNote {
                        margin-top: 50px;
                        width: 100%;
                        height: 120px;
                        margin-bottom: 60px;

                        .AddNote_Not {
                            width: 100%;
                            height: 50%;

                            &>form {

                                &>input {
                                    width: 100%;
                                    height: 50px;
                                    border-top: none;
                                    border-left: none;
                                    border-right: none;
                                    border-bottom: 1px solid rgb(26, 204, 254) !important;
                                }
                            }

                        }

                        .AddNote_LocationB {
                            width: 100%;
                            height: 50%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            &>div {
                                display: flex;

                                &>svg {
                                    font-size: 20px;
                                    margin-top: 7px;
                                }

                                &>input {
                                    border: none;
                                    height: 36px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .ByTrip_map {
        margin-top: -30px;
        width: 45%;
        height: 100%;

        &>button {
            position: absolute;
            z-index: 999;
            top: 84%;
            left: 91.7%;
        }
    }
}


#ShareByTrip {
    width: 690px;
    height: auto;
    display: flex;
    flex-direction: column;

    &>h1 {
        width: 100%;
        height: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &>p {
            &>svg {
                font-size: 24px;
            }
        }
    }

    .ShareByTrip_1 {
        width: 100%;
        height: 130px;
        border-bottom: 1px solid rgb(26, 204, 254);

        &>h1 {
            font-size: 26px;
            color: rgba(255, 255, 255, 0.855);
        }

        &>div {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &>span {
                color: rgba(255, 255, 255, 0.656);
            }

            &>button {
                color: rgb(5, 177, 239);
                color: #ffffff;

                &>svg {
                    margin-right: 8px;
                }
            }
        }
    }

    .ShareByTrip_2 {
        width: 100%;
        height: 290px;

        &>form {
            margin-top: 15px;
            width: 100%;
            height: 90%;

            .ShareByTrip_2_1 {

                &>div {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: space-between;

                    &>label {
                        color: rgba(255, 255, 255, 0.656);
                        font-size: 20px;
                        margin-left: 5px;

                    }

                    .InputEmailTrip {
                        margin-top: 9px;
                        width: 74%;
                    }

                    .SelectTypeSend {
                        width: 23%;
                        margin-top: 8px !important;
                    }
                }
            }

            .ShareByTrip_2_2 {
                margin-top: 16px;

                &>label {
                    color: rgba(255, 255, 255, 0.656);
                    font-size: 20px;
                    margin-left: 5px;
                }

                &>Textarea {
                    margin-top: 10px;
                }
            }

            .ShareByTrip_2_3 {
                margin-top: 10px;
                background-color: rgba(21, 20, 20, 0.753);
            }
        }
    }

    .ShareByTrip_3 {
        margin-top: 30px;

        &>h1 {
            width: 100%;
            height: 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;


        }

        &>div {
            margin-top: 15px;
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;

            &>div {
                width: auto;
                height: 50px;
                display: flex;

                &>p {
                    border-radius: 60%;
                    background-color: rgb(45, 41, 41);
                    color: rgba(255, 255, 255, 0.663);
                }

                &>span {
                    margin-top: 5px;
                    color: rgba(255, 255, 255, 0.663);
                    margin-left: 16px;
                }
            }

            #UpdatDegreeTrip {
                width: 120px;
            }
        }
    }
}



#deletingYourTrip {
    width: 800px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .deletingYourTrip_img {
        width: 60%;
        height: auto;

        &>img {
            width: 100%;
        }
    }

    .deletingYourTrip_text {
        width: 40%;
        height: auto;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;

        &>h1 {
            font-size: 26px;
            margin-left: 16px;
            margin-top: -20px;
        }

        #tripRemove {
            padding: 0.9em 1.8em;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 4px;
            color: transparent;
            border: 3px solid #ff0;
            font-size: 14px;
            position: relative;
            font-family: inherit;
            background: transparent;
            width: 160px;
            height: auto;
            margin-top: 30px;
            margin-left: 16px;

        }

        #tripRemove::before {
            content: "Yes";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #363636;
            color: #ff0;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.5s;
        }

        #tripRemove:hover::before {
            left: 100%;
            transform: scale(0) rotateY(360deg);
            opacity: 0;
        }

        #tripRemove::after {
            content: "Send";
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: #363636;
            color: #ff0;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.5s;
            transform: scale(0) rotateY(0deg);
            opacity: 0;
        }

        #tripRemove:hover::after {
            left: 0;
            transform: scale(1) rotateY(360deg);
            opacity: 1;
        }

    }
}




.dropdownByTrip {
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 150px;
    border-radius: 20px;
}

.dropdownByTrip ul {
    list-style-type: none;
    padding: 0;
}

.dropdownByTrip li {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #404040;
    font-size: 18px;
    border-radius: 20px;
}

.dropdownByTrip .EditByTrip:hover {
    background-color: #2ba1e1df;
    cursor: pointer;
}

.dropdownByTrip .RemoveByTrip:hover {
    background-color: #ff2508ed;
    cursor: pointer;
}