#Unsplash {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    &>div {
        width: 110px;
        height: 100px;

        &>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}