.CategoryCarCard{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(6, 100, 167);
    border-radius: 8px;
    margin-left: 15px;
    
    &:hover{
        border: none;
    }

    &>div{
        width: 80%;
        height: 80%;

        .CategoryCarCard_Img{
            width: 100%;
            height: 80%;

            &>img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .CategoryCarCard_Name{
            width: 100%;
            height: 20%;
            text-align: center;
        }
    }
}