#FindCarQuickly {
    width: 100%;
    height: 100vh;

    .FilterFindACar {
        width: 100%;
        height: 27%;
        background-color: rgb(6, 27, 28);
        
        .CityFindACarSearch {
            width: 100%;
            height: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid rgb(63, 63, 93);


            .input-wrapperFilterACar {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;
                position: relative;
            }

            .inputCarS {
                border-style: none;
                height: 50px;
                width: 50px;
                padding: 10px;
                outline: none;
                border-radius: 50%;
                transition: .5s ease-in-out;
                background-color: #e8381b;
                box-shadow: 0px 0px 3px #f3f3f3;
                padding-right: 40px;
                color: #fff;
            }

            .inputCarS::placeholder,
            .inputCarS {
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-size: 17px;
            }

            .inputCarS::placeholder {
                color: #8f8f8f;
            }

            .iconFindCar {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                right: 0px;
                cursor: pointer;
                width: 50px;
                height: 50px;
                outline: none;
                border-style: none;
                border-radius: 50%;
                pointer-events: painted;
                background-color: transparent;
                transition: .2s linear;
            }

            .iconFindCar:focus~.inputCarS,
            .inputCarS:focus {
                box-shadow: none;
                width: 250px;
                border-radius: 0px;
                background-color: transparent;
                border-bottom: 3px solid #e8381b;
                transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
            }



        }

        .ACArFilter {
            width: 100%;
            height: 60%;
            background-color: rgb(6, 27, 28);
            display: flex;
            justify-content: center;
            align-items: center;

            .ACArFilterLeft {
                width: 60%;
                height: 100%;
                background-color: rgb(6, 27, 28);
                display: flex;
                justify-content: center;
                align-items: center;

                &>div {

                    /* Input container */
                    .input-containerFindMinPRice {
                        position: relative;
                        margin: 20px;
                    }

                    /* Input field */
                    .input-field {
                        display: block;
                        width: 100%;
                        padding: 10px;
                        font-size: 16px;
                        border: none;
                        border-bottom: 2px solid #ccc;
                        outline: none;
                        background-color: transparent;
                    }

                    /* Input label */
                    .input-labelEL {
                        position: absolute;
                        top: 0;
                        left: 0;
                        font-size: 16px;
                        color: rgba(204, 204, 204, 0);
                        pointer-events: none;
                        transition: all 0.3s ease;
                    }

                    /* Input highlight */
                    .input-highlightTT {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        height: 2px;
                        width: 0;
                        background-color: #e8381b;
                        transition: all 0.3s ease;
                    }

                    /* Input field:focus styles */
                    .input-field:focus+.input-labelEL {
                        top: -20px;
                        font-size: 12px;
                        color: #e8381b;
                    }

                    .input-field:focus+.input-labelEL+.input-highlightTT {
                        width: 100%;
                    }

                }
            }

            .ACArFilterRight {
                width: 40%;
                height: 100%;
                background-color: rgb(6, 27, 28);
                display: flex;
                justify-content: space-around;
                align-items: center;
                
                &>div{
                    width: 33%;
                    height: 30px;

                    &>select{

                        &:hover option{
                            background-color: #e8381b;
                            color: white;
                        }
                    }
                }
            }
        }
    }

    .ResponseACar {
        border-top: 1px solid rgb(63, 63, 93);
        width: 100%;
        height: 73%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .ResponseAllCars{
            width: 55%;
            height: 100%;
            background-color: rgb(8, 23, 24);
            display: flex;
            justify-content: center;
            align-items: center;
            
            &>div{
                width: 92%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                overflow-y: auto;

            }
        }

        .ResponseMapAllCar{
            width: 45%;
            height: 100%;
            background-color: cadetblue;

            &>div{
                margin-top: 0px;
                width: 100%;
                height: 100% !important;
            }
        }
    }
}