#FindCarQuickly{
    width: 100%;
    height: 100vh;

    .FilterFindACar{
        width: 100%;
        height: 27%;
        background-color: cadetblue;
    }

    .ResponseACar{
        width: 100%;
        height: 73%;
        background-color: chocolate;
    }
}