#Register {
    width: 100%;
    height: 100vh;
    display: flex;

    .Left {
        width: 50%;
        height: 100%;
        background-color: #50b5ff;


    }

    .Medium {
        width: 29%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &>div {
            width: 80%;
            height: 90%;

            .form {
                width: 100%;
                height: 100%;

                &>div {
                    margin-top: 10px;

                    &>label {
                        font-size: 18px;
                        color: gray;
                    }

                    &>input {
                        margin-top: 6px;
                        width: 100%;
                        height: 35px;
                        border-radius: 6px;
                        border: 1px solid rgb(204, 202, 202);
                    }



                }

                &>button{
                    margin-left: 270px;
                    width: 120px;
                    height: 44px;
                    color: white;
                    font-size: 18px;
                    border: none;
                    outline: none;
                    border-radius: 5px;
                    background-color: #50b5ff;
                }

                &>p{
                    margin-top: 10px;
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &>p{
                        font-size: 18px;
                        color: gray;

                        &>span{
                            margin-right: 9px;
                        }
                    }
                }
            }
        }
    }

    .Right {
        width: 21%;
        height: 100%;
        background-color: #50b5ff;
    }
}


